
# BEGIN Robin Image Optimizer Webp
# Строки между `BEGIN Robin Image Optimizer Webp` и `END Robin Image Optimizer Webp` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.

# END Robin Image Optimizer Webp